<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Stars pourries</title>
    <meta charset="UTF-8">
</head>
    <header>
        <nav>
            <ul>
                <li><a href="{{ path('article') }}">Acceuil</a></li>
                <li><a href="{{ path('stars') }}">Stars</a></li>
            </ul>
        </nav>
    </header>
<body>