
{% include '_header.html.twig' %}
    {% for star in stars %}
        {% if star.published %}
    <article style="background-color: {{ star.color }}">
        <h2>{{ star.title }}</h2>
        <img src="{{ star.image }}" alt="image">
        <p>publié le : {{star.publishedDate|date("m/d/Y")}}</p>
    </article>
        {% else %}
        <p>Cet article n'est pas publié</p>
        {% endif %}
    {% endfor %}
{% include '_footer.html.twig' %}
